*$py.class
**.egg-info/
**/secrets.env
*.bkp
*.dtmp
*.iml
*.py[cod]
.DS_Store
.dial
.env
.idea
.mcp_rest_server.pid
.mypy_cache
.poetry
.python-version
.venv
.vscode
__pycache__/
build
dist
venv
/models/
/reports/
/docker_compose_files/core/data/
/docker_compose_files/core/logs/
/docker_compose_files/core/configuration/generated/
/.editorconfig
/docs/superpowers
